    body {
        background-color: #2c3e50;
        /*overflow: hidden;*/
    }
    .app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        transition: all 250ms ease-in;
        margin-top: 200px;
        opacity: 0;
    }
    .app.is-active {
        opacity: 1;
        margin-top: 0;
    }
    .mb-10 {
        margin-bottom: 10px;
    }

    .mb-5-percent {
        margin-bottom: 5%;
    }

    .mt-10 {
        margin-top: 10px;
    }

    h3, h2, legend {
        margin: 0;
        color: white;
    }
    
    legend {
        color:#2c3e50;
    }
    ul {
        list-style-type: none;
        padding: 0;
        color: white;
        background-color: transparent;
    }
    li.list-group-item {
        background-color: rgba(55, 55, 55, 0.5);
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }

    li:first-of-type {
        background-color: rgba(0, 255, 150, 0.1);
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    li:first-of-type:hover {
        cursor: pointer;
    }

    li span {
        display: block;
    }

    .form-container {
        padding-bottom:20px;
    }
    
    .form-container form {
        background-color: #bbd6fe;
        border-radius:8px;
    }
    
    .hide {
        display:none;
    }
    
     .alert-section .icon img {
        width: 50px;
        height: auto;
    }
    .alert-section .alert-element {
        z-index: 1000;
        position: fixed;
        top: 50px;
        right: 25px;
        color: rgba(255, 255, 255, 1);
        border-radius: 4px;
        font-weight: 800;
        display: flex;
        align-items: stretch;
        padding-right: 20px;
        perspective: 1000px;
        opacity: 0;
        transform-origin: bottom left;
        transform: rotate(90deg) scale(0.5) translate(100px, -300px) rotateX(90deg);
        transition: all 500ms cubic-bezier(0, 0.6, 0.35, 1.4);
    }
    .alert-section .alert-element .icon {
        padding: 20px;
        background: transparent;
        color: white;
        border-radius: 4px 0px 0px 4px;
        overflow: hidden;
    }
    .alert-section .alert-element .icon i {
        transform: scale(0.2) translateY(50px);
        opacity: 0;
        transition: all 500ms cubic-bezier(0, 0.6, 0.35, 1.4) 400ms;
    }

    .alert-section .alert-element .text {
        background: transparent;
        padding: 0 20px;
        display: flex;
        align-items: center;
        border-radius: 0px 4px 4px 0px;
        transform: rotateY(90deg);
        transition: all 500ms ease-in-out 250ms;
        transform-origin: center left;
        opacity: 0;
    }
    .alert-section .alert-element.is-active {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
    .alert-section .alert-element.is-active .material-icons {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    .alert-section .alert-element.is-active .text {
        transform: rotateY(0deg);
        opacity: 1;
    }
    .alert-success {
        background-color: lightgreen;
    }
    .alert-danger {
        background-color: red;
    }
    .alert-primary {
        background-color: blue;
    }